<section class="wrapper nft-section">
  <div class="container">
    <div class="row">

      <div class="col-sm-6 col-md-4 mb-6">
        <div class="card text-white card-has-bg click-col bg-fail-grad">
          <div class="card-img-overlay d-flex flex-column">
            <div class="card-body">
              <small class="card-meta mb-2">Lost 2,500 BAT</small>
              <h4 class="card-title mt-0 text-white">Predicted BTC touch $42,453</h4>
              <small><i class="far fa-clock"></i>at October 15, 2020</small>
            </div>
            <div class="card-footer">
              <div class="media">
                <div class="media-body">
                  <h6 class="my-0 text-white d-block"><span class = "btn btn-grad btc-sm w-100 btn-round">Buy for 25,000 KBR</span></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 mb-6">
        <div class="card text-white card-has-bg click-col bg-succ-grad">
          <div class="card-img-overlay d-flex flex-column">
            <div class="card-body">
              <small class="card-meta mb-2">Won 12,500 USDT</small>
              <h4 class="card-title mt-0 text-white">Predicted ETH touch $2,453</h4>
              <small><i class="far fa-clock"></i> October 15, 2020</small>
            </div>
            <div class="card-footer">
              <div class="media">
                <div class="media-body">
                  <h6 class="my-0 text-white d-block"><span class = "btn btn-grad btc-sm w-100 btn-round">Buy for 15,400 KBR</span></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 mb-6">
        <div class="card text-white card-has-bg click-col bg-nores-grad">
          <div class="card-img-overlay d-flex flex-column">
            <div class="card-body">
              <small class="card-meta mb-2">150,000 KBR to winner</small>
              <h4 class="card-title mt-0 text-white">Predicted BNB touch $349</h4>
              <small><i class="far fa-clock"></i> October 15, 2020</small>
            </div>
            <div class="card-footer">
              <div class="media">
                <div class="media-body">
                  <h6 class="my-0 text-white d-block"><span class = "btn btn-grad btc-sm w-100 btn-round">Buy for 5,400 KBR</span></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 mb-6">
        <div class="card text-white card-has-bg click-col bg-fail-grad">
          <div class="card-img-overlay d-flex flex-column">
            <div class="card-body">
              <small class="card-meta mb-2">Lost 2,500 BAT</small>
              <h4 class="card-title mt-0 text-white">Predicted BTC touch $42,453</h4>
              <small><i class="far fa-clock"></i>at October 15, 2020</small>
            </div>
            <div class="card-footer">
              <div class="media">
                <div class="media-body">
                  <h6 class="my-0 text-white d-block"><span class = "btn btn-grad btc-sm w-100 btn-round">Buy for 25,000 KBR</span></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 mb-6">
        <div class="card text-white card-has-bg click-col bg-succ-grad">
          <div class="card-img-overlay d-flex flex-column">
            <div class="card-body">
              <small class="card-meta mb-2">Won 12,500 USDT</small>
              <h4 class="card-title mt-0 text-white">Predicted ETH touch $2,453</h4>
              <small><i class="far fa-clock"></i> October 15, 2020</small>
            </div>
            <div class="card-footer">
              <div class="media">
                <div class="media-body">
                  <h6 class="my-0 text-white d-block"><span class = "btn btn-grad btc-sm w-100 btn-round">Buy for 15,400 KBR</span></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 mb-6">
        <div class="card text-white card-has-bg click-col bg-nores-grad">
          <div class="card-img-overlay d-flex flex-column">
            <div class="card-body">
              <small class="card-meta mb-2">150,000 KBR to winner</small>
              <h4 class="card-title mt-0 text-white">Predicted BNB touch $349</h4>
              <small><i class="far fa-clock"></i> October 15, 2020</small>
            </div>
            <div class="card-footer">
              <div class="media">
                <div class="media-body">
                  <h6 class="my-0 text-white d-block"><span class = "btn btn-grad btc-sm w-100 btn-round">Buy for 5,400 KBR</span></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>      
    </div>
  </div>
</section>