
<div class="container stats-page text-white mt-8">
    <div class="row">
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-blue order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Total Predictions</h6>
                    <h4 ><i class="fa fa-cart-plus f-left"></i><span>345,486</span></h4>
                    <p class="m-b-0">Players<span class="f-right">12,351</span></p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-green order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Total Value Locked</h6>
                    <h4><i class="fa fa-rocket f-left"></i><span>$486,453,435.56</span></h4>
                    <p class="m-b-0">Assets<span class="f-right">43</span></p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-yellow order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Total NFTs</h6>
                    <h4><i class="fa fa-refresh f-left"></i><span>12,486</span></h4>
                    <p class="m-b-0">NFT Volume<span class="f-right">$123,351</span></p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Marketcap</h6>
                    <h4><i class="fa fa-credit-card f-left"></i><span>$534,234,652</span></h4>
                    <p class="m-b-0">Supply<span class="f-right">300,000,000 KBR</span></p>
                </div>
            </div>
        </div>
  </div>
</div>