<footer class="footer py-7">
  <div class="container">
    <div class="row gap-y">
      <div class="col-md-6 col-xl-4">
        <p><a href="#" class = "grad-text">K U B E R</a></p>
        <p>Kuber is a decentralized prediction market where users can predict the future price of crypto currencies to win price.</p>
      </div>
      <div class="col-6 col-md-3 col-xl-2">
        <h6 class="mb-4 mt-1"><strong>About</strong></h6>
        <div class="nav flex-column">
          <a class="nav-link" href="#">Stats</a>
          <a class="nav-link" href="#">Team</a>
          <a class="nav-link" href="#">Assets</a>
          <a class="nav-link" href="#">Supported Tokens</a>
          <a class="nav-link" href="#">Whitepaper</a>
          <a class="nav-link" href="#">How It Works</a>
        </div>
      </div>
      <div class="col-6 col-md-3 col-xl-2">
        <h6 class="mb-4 mt-1"><strong>Token</strong></h6>
        <div class="nav flex-column">
          <a class="nav-link" href="#">Contract</a>
          <a class="nav-link" href="#">Pancake Swap</a>
          <a class="nav-link" href="#">Tokenomics</a>
          <a class="nav-link" href="#">CoinGecko</a>
          <a class="nav-link" href="#">CoinMarketCap</a>
          <a class="nav-link" href="#">Chart</a>
          <a class="nav-link" href="#">Security</a>
        </div>
      </div>
      <div class="col-6 col-md-6 col-xl-2">
        <h6 class="mb-4 mt-1"><strong>Support</strong></h6>
        <div class="nav flex-column">
          
          <a class="nav-link" href="#">API</a>
          <a class="nav-link" href="#">FAQ</a>
          <a class="nav-link" href="#">Support</a>
          <a class="nav-link" href="#">Github</a>
        </div>
      </div>
      <div class="col-6 col-md-6 col-xl-2 text-center">
        <p><a class="btn btn-block btn-round btn-grad" href="#" routerLinkActive="active" routerLink="/dapp">Play</a></p>
        <br>
        <div class="social social-bordered">
          <a class="social-facebook text-grad" href="#"><i class="fa fa-facebook"></i></a>
          <a class="social-twitter" href="#"><i class="fa fa-twitter"></i></a>
          <a class="social-youtube" href="#"><i class="fa fa-youtube"></i></a>
          <a class="social-instagram" href="#"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </div> 
</footer>