<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <div class="row">
      <div class="col-8 col-lg-3 navbar-left">
        <button class="navbar-toggler" type="button"><span class="navbar-toggler-icon"></span></button>
        <a class="navbar-brand" href="#" routerLinkActive="active" routerLink="/">
        <strong class = "text-info grad-text">K U B E R</strong>
        </a>
      </div>
      <section class="col-lg-6 navbar-mobile">
        <nav class="nav nav-navbar mx-auto">
          <a class="nav-link" href="#" routerLinkActive="active" routerLink="/">Home</a>
          <a class="nav-link" href="#" routerLinkActive="active" routerLink="/stats">Stats</a>
          <a class="nav-link" href="#" routerLinkActive="active" routerLink="/dapp">Dapp</a>
          
        </nav>
      </section>
      <div class="col-4 col-lg-3 text-right">
        <a class="btn btn-sm btn-round btn-grad" href="#" routerLinkActive="active" routerLink="/dapp">Predict</a>
        <a class="btn btn-sm btn-round btn-default" href="#" >Connect</a>
      </div>
    </div>
  </div>
</nav> 