<div class="container section-home-welcome py-8">
  <div class="row align-items-center h-100">
    <div class="col-lg-6 col-sm-12 pl-0">
      <h1 class = "grad-text fs-4">Decentralized <br>Prediction <br>Market</h1>
      <p class="lead mt-5 mb-6">Predict the price of cryptocurrency and win prizes.</p>
      <p class="gap-xy">
        <a class="btn btn-round btn-grad mw-150" href="#" routerLinkActive="active" routerLink="/dapp">Play</a>
      </p>
    </div>
    <div class="col-lg-5 ml-auto">
      <div class = "home-image">
        <img src = "/assets/img/img-landing.svg" />
      </div>
    </div>
  </div>
</div>