<form #postform = "ngForm" (ngSubmit) = "onClickSubmit(postform.value)" >
  <div class="form-row">
    <div class="form-group col-auto">
      <label for="inputEmail4">I predict</label>
      <select class="custom-select mb-2 custom-select-sm" id="prediction_asset" name = "prediction_asset" required ngModel>
        <option selected>Select Asset</option>
        <option value="1">BTC</option>
        <option value="2">ETH</option>
        <option value="3">XTZ</option>
      </select>
    </div>

    <div class="form-group col-auto">
      <label for="inputPassword4">Will reach the price</label>
            <div class="input-group">

      <input type="text" class="form-control form-control-sm mb-2" id="prediction_price" name = "prediction_price" required ngModel>
      <select class="custom-select mb-2 custom-select-sm" id="prediction_asset" name = "prediction_asset" required ngModel>
        <option selected value = 'USD'>USD</option>
        <option value="BNB">BNB</option>
      </select>  
      </div>    
    </div>

    <div class="col-auto">
      <label class="sr-only" for="inlineFormInput">By</label>
      <input type="text" class="form-control mb-2 form-control-sm" id="prediction_time" name = "prediction_time" placeholder="Select time">
    </div>


  </div>
  
  <button type="submit" class="btn btn-primary">Predict</button>
</form>




<table class="table table-sm table-borderless border-0 text-white table-dapp mt-9 mb-9">
  <caption>My Games</caption>
  <thead>
    <tr>
      <th scope="col" class = "">Game ID</th>
      <th scope="col">Prediction</th>
      <th scope="col">Bet</th>
      <th scope="col">Prize</th>
      <th scope="col">Status</th>
      <th scope="col">Claim</th>
      <th scope="col">Details</th>
    </tr> 
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td class = "td-predict">$4434 / ETH<br><small>By 24 July 2021</small> </td>
      <td class = "td-bet">45 $BAT</td>
      <td class = "td-prize">45 $BAT</td>
      <td class = "td-status td-status-won">Won<br><small>45 $BAT</small></td>
      <td class = "td-claim"><a class="btn btn-xs btn-success">Claim</a></td>
      <td class = "td-details">
<span class="text-danger" [ngbPopover]="popContent" [popoverTitle]="popTitle">Details</span>
        </td>
    </tr>

    <tr>
      <th scope="row">2</th>
      <td class = "td-predict">$0.23 / CVC<br><small>By 24 July 2021</small> </td>
      <td class = "td-bet">23 USDT</td>
      <td class = "td-prize">23 USDT</td>
      <td class = "td-status td-status-lost">Lost<br><small>23 USDT</small></td>
      <td class = "td-claim"><a class="btn btn-xs btn-success">Claim</a></td>
      <td class = "td-details">
<span class="text-primary" [ngbPopover]="popContent" [popoverTitle]="popTitle">Details</span>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td class = "td-predict">$0.23 / CVC<br><small>By 24 July 2021</small> </td>
      <td class = "td-bet">100 KUBER</td>
      <td class = "td-prize">100 KUBER</td>
      <td class = "td-status td-status-lost">Lost<br><small>100 KUBER</small></td>
      <td class = "td-claim"><a href = "#" class="btn btn-xs btn-success">Claim</a></td>
      <td class = "td-details">
      
<ng-template #popContent>Hello, <b>{{name}}</b>!</ng-template>
<ng-template #popTitle>Fancy <b>content!!</b></ng-template>
<span class="text-info" [ngbPopover]="popContent" [popoverTitle]="popTitle">Details</span>


      </td>
    </tr>
  </tbody>
</table>

